### Use the Dataset named HR Interview Analytics (given at the end) to predict the Status of the candidate (0 is not accepted and 1 is accepted).  Build an Artificial Neural Network to predict the Status.

In [1]:
# import libraries
import pandas as pd
import tensorflow as tf

In [2]:
# import data

HR = pd.read_csv('F:\Skillenable\Data frames\HR-Interview-Analytics.csv')
HR.head()

,SLNO,Candidate.Ref,DOJ.Extended,Duration.to.accept.offer,Notice.period,Offered.band,Pecent.hike.expected.in.CTC,Percent.hike.offered.in.CTC,Percent.difference.CTC,Joining.Bonus,Candidate.relocate.actual,Gender,Candidate.Source,Rex.in.Yrs,LOB,Location,Age,Status
0,1,2110407,Yes,14,30,E2,-20.79,13.16,42.86,No,No,Female,Agency,7,ERS,Noida,34,1
1,2,2112635,No,18,30,E2,50.00,320.00,180.00,No,No,Male,Employee Referral,8,INFRA,Chennai,34,1
2,3,2112838,No,3,45,E2,42.84,42.84,0.00,No,No,Male,Agency,4,INFRA,Noida,27,1
3,4,2115021,No,26,30,E2,42.84,42.84,0.00,No,No,Male,Employee Referral,4,INFRA,Noida,34,1
4,5,2115125,Yes,1,120,E2,42.59,42.59,0.00,No,Yes,Male,Employee Referral,6,INFRA,Noida,34,1

In [9]:
hr= HR.drop(columns=['SLNO','Candidate.Ref', 'Candidate.Source'])
hr.head()

,DOJ.Extended,Duration.to.accept.offer,Notice.period,Offered.band,Pecent.hike.expected.in.CTC,Percent.hike.offered.in.CTC,Percent.difference.CTC,Joining.Bonus,Candidate.relocate.actual,Gender,Rex.in.Yrs,LOB,Location,Age,Status
0,Yes,14,30,E2,-20.79,13.16,42.86,No,No,Female,7,ERS,Noida,34,1
1,No,18,30,E2,50.00,320.00,180.00,No,No,Male,8,INFRA,Chennai,34,1
2,No,3,45,E2,42.84,42.84,0.00,No,No,Male,4,INFRA,Noida,27,1
3,No,26,30,E2,42.84,42.84,0.00,No,No,Male,4,INFRA,Noida,34,1
4,Yes,1,120,E2,42.59,42.59,0.00,No,Yes,Male,6,INFRA,Noida,34,1

In [8]:
hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9011 entries, 0 to 9010
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   DOJ.Extended                 9011 non-null   object
 1   Duration.to.accept.offer     9011 non-null   int64
 2   Notice.period                9011 non-null   int64
 3   Offered.band                 9011 non-null   object
 4   Pecent.hike.expected.in.CTC  9011 non-null   float64
 5   Percent.hike.offered.in.CTC  9011 non-null   float64
 6   Percent.difference.CTC       9011 non-null   float64
 7   Joining.Bonus                9011 non-null   object
 8   Candidate.relocate.actual    9011 non-null   object
 9   Gender                       9011 non-null   object
 10  Candidate.Source             9011 non-null   object
 11  Rex.in.Yrs                   9011 non-null   int64
 12  LOB                          9011 non-null   object
 13  Location                     9011 non-null   object
 14  Age                          9011 non-null   int64
 15  Status                       9011 non-null   int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.1+ MB

In [11]:
# dealing with categorical col.

cat_col = ['DOJ.Extended', 'Offered.band', 'Joining.Bonus', 'Candidate.relocate.actual', 'Gender', 'LOB', 'Location']
hr_dummy = pd.get_dummies(hr, columns=cat_col, drop_first = True)

In [12]:
hr_dummy.head()

,Duration.to.accept.offer,Notice.period,Pecent.hike.expected.in.CTC,Percent.hike.offered.in.CTC,Percent.difference.CTC,Rex.in.Yrs,Age,Status,DOJ.Extended_Yes,Offered.band_E1,...,Location_Bangalore,Location_Chennai,Location_Cochin,Location_Gurgaon,Location_Hyderabad,Location_Kolkata,Location_Mumbai,Location_Noida,Location_Others,Location_Pune
0,14,30,-20.79,13.16,42.86,7,34,1,1,0,...,0,0,0,0,0,0,0,1,0,0
1,18,30,50.00,320.00,180.00,8,34,1,0,0,...,0,1,0,0,0,0,0,0,0,0
2,3,45,42.84,42.84,0.00,4,27,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,26,30,42.84,42.84,0.00,4,34,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,120,42.59,42.59,0.00,6,34,1,1,0,...,0,0,0,0,0,0,0,1,0,0

In [13]:
# split data into train and test
from sklearn.model_selection import train_test_split
Y = hr_dummy[['Status']]
X = hr_dummy.drop(columns=['Status'])

x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, random_state=42)

len(x_train), len(x_test), len(y_train), len(y_test)

(7208, 1803, 7208, 1803)

In [14]:
# Building the ANN
## step 1. Initializing the ANN

ann = tf.keras.models.Sequential()   # ANN initialize

In [15]:
ann.add(tf.keras.layers.Dense(units= 10, activation='relu'))

In [16]:
ann.add(tf.keras.layers.Dense(units= 1, activation='sigmoid'))

In [18]:
ann.compile(optimizer = 'adam', loss='binary_crossentropy', metrics = 'accuracy')

In [19]:
ann.fit(x_train, y_train, batch_size=64, epochs= 100)  # training the data

Epoch 1/100
113/113 [==============================] - 1s 1ms/step - loss: 2.1672 - accuracy: 0.6933
Epoch 2/100
113/113 [==============================] - 0s 1ms/step - loss: 0.5904 - accuracy: 0.7765
Epoch 3/100
113/113 [==============================] - 0s 1ms/step - loss: 0.5102 - accuracy: 0.7963
Epoch 4/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4886 - accuracy: 0.8040
Epoch 5/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4706 - accuracy: 0.8069
Epoch 6/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4615 - accuracy: 0.8106
Epoch 7/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4541 - accuracy: 0.8098
Epoch 8/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4529 - accuracy: 0.8092
Epoch 9/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4500 - accuracy: 0.8122
Epoch 10/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4449 - accuracy: 0.8109
Epoch 11/100
113/113 [==============================] - 0s 2ms/step - loss: 0.4424 - accuracy: 0.8126
Epoch 12/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4391 - accuracy: 0.8102
Epoch 13/100
113/113 [==============================] - 0s 2ms/step - loss: 0.4418 - accuracy: 0.8119
Epoch 14/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4369 - accuracy: 0.8151
Epoch 15/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4334 - accuracy: 0.8140
Epoch 16/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4319 - accuracy: 0.8158
Epoch 17/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4362 - accuracy: 0.8123
Epoch 18/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4311 - accuracy: 0.8141
Epoch 19/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4337 - accuracy: 0.8137
Epoch 20/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4291 - accuracy: 0.8119
Epoch 21/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4252 - accuracy: 0.8160
Epoch 22/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4260 - accuracy: 0.8134
Epoch 23/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4266 - accuracy: 0.8149
Epoch 24/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4243 - accuracy: 0.8151
Epoch 25/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4243 - accuracy: 0.8151
Epoch 26/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4261 - accuracy: 0.8135
Epoch 27/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4202 - accuracy: 0.8173
Epoch 28/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4244 - accuracy: 0.8142
Epoch 29/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4263 - accuracy: 0.8151
Epoch 30/100
113/113 [==============================] - 0s 2ms/step - loss: 0.4262 - accuracy: 0.8183
Epoch 31/100
113/113 [==============================] - 0s 2ms/step - loss: 0.4224 - accuracy: 0.8162
Epoch 32/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4222 - accuracy: 0.8171
Epoch 33/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4235 - accuracy: 0.8148
Epoch 34/100
113/113 [==============================] - 0s 2ms/step - loss: 0.4247 - accuracy: 0.8147
Epoch 35/100
113/113 [==============================] - 0s 2ms/step - loss: 0.4217 - accuracy: 0.8181
Epoch 36/100
113/113 [==============================] - 0s 3ms/step - loss: 0.4216 - accuracy: 0.8176
Epoch 37/100
113/113 [==============================] - 0s 2ms/step - loss: 0.4213 - accuracy: 0.8160
Epoch 38/100
113/113 [==============================] - 0s 2ms/step - loss: 0.4265 - accuracy: 0.8138
Epoch 39/100
113/113 [==============================] - 0s 2ms/step - loss: 0.4220 - accuracy: 0.8176
Epoch 40/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4198 - accuracy: 0.8181
Epoch 41/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4195 - accuracy: 0.8160
Epoch 42/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4186 - accuracy: 0.8187
Epoch 43/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4248 - accuracy: 0.8151
Epoch 44/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4212 - accuracy: 0.8173
Epoch 45/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4180 - accuracy: 0.8151
Epoch 46/100
113/113 [==============================] - 0s 2ms/step - loss: 0.4182 - accuracy: 0.8174
Epoch 47/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4198 - accuracy: 0.8156
Epoch 48/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4249 - accuracy: 0.8108
Epoch 49/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4188 - accuracy: 0.8159
Epoch 50/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4176 - accuracy: 0.8170
Epoch 51/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4185 - accuracy: 0.8167
Epoch 52/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4219 - accuracy: 0.8144
Epoch 53/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4208 - accuracy: 0.8160
Epoch 54/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4173 - accuracy: 0.8153
Epoch 55/100
113/113 [==============================] - 0s 2ms/step - loss: 0.4172 - accuracy: 0.8181
Epoch 56/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4189 - accuracy: 0.8188
Epoch 57/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4195 - accuracy: 0.8151
Epoch 58/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4186 - accuracy: 0.8181
Epoch 59/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4197 - accuracy: 0.8173
Epoch 60/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4203 - accuracy: 0.8169
Epoch 61/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4184 - accuracy: 0.8158
Epoch 62/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4188 - accuracy: 0.8173
Epoch 63/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4199 - accuracy: 0.8166
Epoch 64/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4160 - accuracy: 0.8183
Epoch 65/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4208 - accuracy: 0.8159
Epoch 66/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4245 - accuracy: 0.8163
Epoch 67/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4166 - accuracy: 0.8165
Epoch 68/100
113/113 [==============================] - 0s 2ms/step - loss: 0.4203 - accuracy: 0.8169
Epoch 69/100
113/113 [==============================] - 0s 2ms/step - loss: 0.4186 - accuracy: 0.8187
Epoch 70/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4162 - accuracy: 0.8180
Epoch 71/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4158 - accuracy: 0.8185
Epoch 72/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4154 - accuracy: 0.8170
Epoch 73/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4183 - accuracy: 0.8170
Epoch 74/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4189 - accuracy: 0.8167
Epoch 75/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4173 - accuracy: 0.8160
Epoch 76/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4168 - accuracy: 0.8192
Epoch 77/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4156 - accuracy: 0.8202
Epoch 78/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4168 - accuracy: 0.8170
Epoch 79/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4164 - accuracy: 0.8191
Epoch 80/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4200 - accuracy: 0.8167
Epoch 81/100

113/113 [==============================] - 0s 1ms/step - loss: 0.4146 - accuracy: 0.8192
Epoch 82/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4146 - accuracy: 0.8167
Epoch 83/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4163 - accuracy: 0.8187
Epoch 84/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4167 - accuracy: 0.8185
Epoch 85/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4154 - accuracy: 0.8183
Epoch 86/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4155 - accuracy: 0.8170
Epoch 87/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4181 - accuracy: 0.8177
Epoch 88/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4198 - accuracy: 0.8188
Epoch 89/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4138 - accuracy: 0.8192
Epoch 90/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4135 - accuracy: 0.8178
Epoch 91/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4140 - accuracy: 0.8178
Epoch 92/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4152 - accuracy: 0.8176
Epoch 93/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4192 - accuracy: 0.8177
Epoch 94/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4138 - accuracy: 0.8195
Epoch 95/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4126 - accuracy: 0.8190
Epoch 96/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4154 - accuracy: 0.8213
Epoch 97/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4202 - accuracy: 0.8174
Epoch 98/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4131 - accuracy: 0.8194
Epoch 99/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4140 - accuracy: 0.8194
Epoch 100/100
113/113 [==============================] - 0s 1ms/step - loss: 0.4112 - accuracy: 0.8203

In [20]:
y_test

      Status
93         0
7272       1
447        1
6519       0
3898       0
...      ...
8671       1
111        1
8742       1
7596       1
2215       0

[1803 rows x 1 columns]

In [21]:
y_test['Prediction'] = ann.predict(x_test)

C:\Users\arun\AppData\Local\Temp/ipykernel_5260/3886127213.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test['Prediction'] = ann.predict(x_test)

In [22]:
y_test

      Status  Prediction
93         0    0.941755
7272       1    0.961419
447        1    0.877126
6519       0    0.893919
3898       0    0.813017
...      ...         ...
8671       1    0.882605
111        1    0.821020
8742       1    0.999813
7596       1    0.941003
2215       0    0.883953

[1803 rows x 2 columns]